.drawerA{
    display: flex;
    justify-content: space-between;
    width: 400px;
    color: black;
}
.drawerImg{
    width: 400px;
    object-fit: cover;
}

@media screen and (max-width:500px) {
    .drawerA,.drawerImg{
        width: 250px;
    }


}